useDynLib(gputools)
export(gpuCor, 
	gpuTtest,
	gpuQr, gpuSolve,
	gpuGranger, 
	gpuDist, gpuHclust, gpuDistClust,
	gpuMatMult,
	gpuSvmTrain, gpuSvmPredict, getAucEstimate,
	gpuMi,
	chooseGpu, getGpuId)
